__pycache__/
.ipynb_checkpoints/
.vscode/
.*DS_Store
archive/*

.env

data/*
!data/evaluation
data/evaluation/*
!data/evaluation/.gitkeep

!data/interim
data/interim/*
!data/interim/.gitkeep

!data/datasets
data/datasets/*
!data/datasets/.gitkeep

!data/process
data/process/*
!data/process/.gitkeep

!data/output
data/output/*
!data/output/.gitkeep

**/*.pkl

models/
notebooks/wip/*
